.crew_title {
    height: 10vh;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.475rem;
    margin-left: 16.5rem;
    margin-top: 2vh;
}

.crew_title--number {
    font-weight: bold;
    opacity: 0.25;
}

.crew {
    height: 78vh;
    padding-left: 16.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.crew_profile {
    width: 60%;
    align-self: center;
}

.crew_profile__role {
    font-family: 'Bellefair', serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    opacity: 0.5;
    color: white;
    margin-bottom: 1.5rem;
}

.crew_profile__name {
    font-family: 'Bellefair', serif;
    font-size: 5.6rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2.7rem;
}

.crew_profile__description {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #D0D6F9;
    margin-bottom: 12rem;
}

.indicators {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.indicators__dot {
    background-color: white;
    opacity: 0.17;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.indicators__dot--active {
    opacity: 1;
}
