.main {
    color: white;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 50vw;
}

.main__subtitle {
    order: -1;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.472rem;
    text-transform: uppercase;
    color: #D0D6F9;
    margin: 20vh 0 0 5vw;
}

.main__title {
    font-family: 'Bellefair', serif;
    font-size: 15rem;
    text-transform: uppercase;
    margin: 5vh 0 5vh 5vw;
}

.main__description {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    color: #D0D6F9;
    margin-left: 5vw;
}

.main__explore {
    position: absolute;
    right: 10vw;
    top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 27.4rem;
    width: 27.4rem;
    border: none;
    border-radius: 50%;
    outline: solid 0rem #0b0d17a2;
    transition: outline 0.3s linear; 
}

.main__explore:hover {
    outline: solid 6rem #0b0d17a2;
    transition: outline 0.4s linear; 
}

.main__explore a {
    color: #0B0D17;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}